header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #AC2B37; 
    font-size: 25px;
}

body {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #35ce27; 
    font-size: 18px;
}

h1 {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #1c44c7; 
    font-size: 14px;
}

